body{
    margin: 00px;
    padding: 00px;
}

.message{
    background: linear-gradient(rgba(248, 248, 248, 0.8),rgba(248, 248, 248, 0.8));
    width: 200px;
    height: auto;
    overflow: hidden;
    padding: 20px 20px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    font-weight: 600;
    font-family: sans-serif;
    border-color: black;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    animation: pratik;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
.message p{
    padding: 00px;
    margin: 00px;
}

.success{
    background: linear-gradient(rgba(0, 194, 16, 0.8),rgba(0, 194, 16, 0.8));
    width: 200px;
    height: auto;
    overflow: hidden;
    padding: 20px 20px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    border-color: black;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    animation: pratik;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
.success p{
    padding: 00px;
    margin: 00px;
}

.error{
    background: linear-gradient(rgba(194, 0, 0, 0.8),rgba(194, 0, 0, 0.8));
    width: 200px;
    height: auto;
    overflow: hidden;
    padding: 20px 20px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    border-color: black;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    animation: pratik;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
.error p{
    padding: 00px;
    margin: 00px;
}


@keyframes pratik{
    0%{ 
        transform: translate(100%);
    }
    50%{
        transform: translate(-20%);
    }
    100%{ 
        transform: translate(-0%);
    }
}